<!-- <mat-form-field appearance="fill" class="example-full-width">

  <mat-label>{{label}}</mat-label>
  <input type="text" placeholder="Select rule" aria-label="Select Users" matInput [matAutocomplete]="auto"
    [formControl]="userControl">
</mat-form-field>

<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
  <mat-option *ngFor="let user of filteredUsers | async" [value]="selectedUsers">
    <div (click)="optionClicked($event, user)">
      <mat-checkbox [checked]="user.selected" (change)="toggleSelection(user)" (click)="$event.stopPropagation()">
        {{ user.name }}
      </mat-checkbox>
    </div>
  </mat-option>
</mat-autocomplete> -->

<mat-form-field appearance="fill">
  <mat-label>{{label}}</mat-label>
  <mat-select [disableOptionCentering]="true" multiple (ngModelChange)="changePrefrenceToExclude($event)"
    [(ngModel)]="selectedPrefrenceToExclude">
    <input class="filter-input" type="text" placeholder="Filter" aria-label="Select Users" matInput [formControl]="userControl">

    <mat-option *ngFor="let prefrence of filteredUsers | async" [value]="prefrence.name">
      {{prefrence.name}}
    </mat-option>
  </mat-select>
</mat-form-field>