<div class="row w-100">
  <div class="example-header col-2">
    <mat-form-field>
      <input matInput [(ngModel)]="value" (ngModelChange)="applyFilter(value)" placeholder="Search by Rule name">
      <a href="javascript:void(0)" *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
        <mat-icon class="close-icon">&times;</mat-icon>
      </a>
    </mat-form-field>
  </div>
  <div class="col-10 showing" *ngIf="dataSource.filter">
    Showing <b>{{dataSource.filteredData.length}}</b> results for <b>{{dataSource.filter}}</b>
  </div>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
        <mat-header-cell *matHeaderCellDef mat-sort-header > {{columns[col]}} </mat-header-cell>
        <mat-cell *matCellDef="let row" > {{row[col]}} </mat-cell>     
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="pointer"
     (click)="goToCreateRule(row)" *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
