<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-3">
          <img src="../../assets/logo.svg" class="logo" alt="Logo image" />
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4">
          <form [formGroup]="loginForm">
            <!-- UserName input -->
            <div class="form-outline mb-4">
              <label class="form-label" for="form3Example3">User Name</label>
              <input
                type="email"
                formControlName="userName"
                id="form3Example3"
                class="form-control form-control-lg"
                name="userName"
                placeholder=""
              />
              <div class="error-messages">
				<ng-container *ngFor="let error of error_messages.userName">
					<div class="error-message" *ngIf="loginForm.get('userName').hasError(error.type) && (loginForm.get('userName').dirty || loginForm.get('userName').touched)">
						{{ error.message }}
					</div>

                    <span class="error-message" *ngIf="userNamePasswordInvalid">User name or password is incorrect.</span>
				</ng-container>
			</div>
            </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="form-label" for="form3Example4">Password</label>
              <input
                type="password"
                formControlName="password"
                id="form3Example4"
                class="form-control form-control-lg"
                name="password"
                placeholder=""
              />
              <div class="error-messages">
				<ng-container *ngFor="let error of error_messages.password">
					<div class="error-message" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
						{{ error.message }}
					</div>

				</ng-container>
                <span class="error-message" *ngIf="userNamePasswordInvalid">User name or password is incorrect.</span>
			</div>
            </div>

            <div class="form-outline mb-3" *ngIf="changePassword">
                <label class="form-label" for="form3Example4">New Password</label>
                <input
                  type="password"
                  formControlName="confirmPassword1"
                  id="form3Example4"
                  class="form-control form-control-lg"
                  name="confirmPassword1"
                  placeholder=""
                />
                <div class="error-messages">
                  <ng-container *ngFor="let error of error_messages.confirmPassword1">
                      <div class="error-message" *ngIf="loginForm.get('confirmPassword1').hasError(error.type) && (loginForm.get('confirmPassword1').dirty || loginForm.get('confirmPassword1').touched)">
                          {{ error.message }}
                      </div>
                  </ng-container>

                  <span class="error-message" *ngIf="loginForm.get('confirmPassword1')?.value && loginForm.get('confirmPassword2')?.value  && loginForm.errors && loginForm.errors['passwordNotMatch']">Password not match</span>
              </div>
              </div>

              <div class="form-outline mb-3" *ngIf="changePassword">
                <label class="form-label" for="form3Example4">Confirm Password</label>
                <input
                  type="password"
                  formControlName="confirmPassword2"
                  id="form3Example4"
                  class="form-control form-control-lg"
                  name="confirmPassword2"
                  placeholder=""
                />
                <div class="error-messages">
                  <ng-container *ngFor="let error of error_messages.confirmPassword2">
                      <div class="error-message" *ngIf="loginForm.get('confirmPassword2').hasError(error.type) && (loginForm.get('confirmPassword2').dirty || loginForm.get('confirmPassword2').touched)">
                          {{ error.message }}
                      </div>
                  </ng-container>
                  <span class="error-message" *ngIf="loginForm.get('confirmPassword1')?.value && loginForm.get('confirmPassword2')?.value  && loginForm.errors && loginForm.errors['passwordNotMatch']">Password not match</span>
              </div>
              </div>
  
            <div class="d-flex justify-content-between align-items-center" *ngIf="!changePassword">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input
                  class="form-check-input me-2"
                  type="checkbox"
                  value=""
                  id="form2Example3"
                />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>


      <!-- <pre>
        Form Error - {{ loginForm.errors | json }}
      </pre> -->
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button
              *ngIf="!changePassword"
                type="button"
                class="btn btn-dark btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;"
                [disabled]="loginForm.invalid"
                (click)="login()"
              >
                Login
              </button>

              <button
              *ngIf="changePassword"
                type="button"
                class="btn btn-dark btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;"
                [disabled]="loginForm.invalid"
                (click)="onChangePassword()"
              >
                Change Password
              </button>
              <!-- <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                  class="link-danger">Register</a></p> -->
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
     
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2020. All rights reserved.
      </div>
     
  
      
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      
    </div> -->
  </section>
  
  