<div class="row w-100">
  <div class="example-header col-2">
    <mat-form-field>
      <input matInput [(ngModel)]="value" (ngModelChange)="applyFilter(value)" placeholder="Search by Calendar name">
      <a href="javascript:void(0)" *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="clear()">
        <mat-icon class="close-icon">close</mat-icon>
      </a>
    </mat-form-field>
  </div>
  <div class="col-10 showing" *ngIf="dataSource.filter">
    Showing <b>{{dataSource.filteredData.length}}</b> results for <b>{{dataSource.filter}}</b>
  </div>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort>
    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
      <ng-container *ngIf="col !== 'select'">
        <mat-header-cell *matHeaderCellDef mat-sort-header> {{columns[col]}} </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row[col]}} </mat-cell>
      </ng-container>

      <ng-container *ngIf="col === 'select'">

        <mat-header-cell *matHeaderCellDef [ngClass]="col === 'select' ? 'w-75': ''">
          <mat-checkbox (change)="$event ? masterToggle() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [ngClass]="col === 'select' ? 'w-75': ''">
          <mat-checkbox (click)="selectionChange($event)" (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </mat-cell>

      </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="pointer"
    [ngClass]="{'bg-lightgrey': isRowSelected(row)}" (click)="goToDashboard(row)" *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
