<header>
  <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="25" alt="" loading="lazy" />
      </a>
      <form class="d-none d-md-flex input-group w-auto my-auto">
        <input autocomplete="off" type="search" class="form-control rounded" placeholder='Search (ctrl + "/" to focus)'
          style="min-width: 225px" />
      </form>
    </div>
  </nav>
</header>
<div class="container-fluid m-t-55">
  <div class="row m-y-20">
    <div class="col-2">

      <mat-form-field appearance="fill">
        <mat-label>Select Year</mat-label>
        <mat-select (ngModelChange)="changeYear($event)" [(ngModel)]="selectedYear">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-3">

      <mat-form-field appearance="fill">
        <mat-label>Select Prefrence</mat-label>
        <mat-select multiple (ngModelChange)="changePrefrence($event)" [(ngModel)]="selectedPrefrence">
          <mat-option *ngFor="let prefrence of prefrenceList" [value]="prefrence">
            {{prefrence}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-7">

    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="card-container">
        <ycd-example-section (sendYearChanged)="sendYearChanged($event)" [year]="selectedYear" [prefrence]="selectedPrefrence">
        </ycd-example-section>
      </div>
    </div>
  </div>
</div>