<div class="row" *ngIf="editSchedule">
  <div class="col-12 update-rule-title">
      <span class="label">Calendar - </span><span class="value">{{form.controls.displayName.value}}</span>
  </div>
</div>
  <div class="row m-y-20">
    <div class="col-1 min-width-225">

      <mat-form-field appearance="fill">
        <mat-label>Select Year</mat-label>
        <mat-select [disableOptionCentering]="true" (ngModelChange)="changeYear($event)" [(ngModel)]="selectedYear">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-1 min-width-225">
    
      <!-- <mat-form-field appearance="fill">
        <mat-label>Select Rule to include</mat-label>
        <mat-select [disableOptionCentering]="true" multiple (ngModelChange)="changePrefrence($event)" [(ngModel)]="selectedPrefrence">
          <mat-option *ngFor="let prefrence of prefrenceListToInclude" [value]="prefrence.name">
            {{prefrence.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <app-auto-complete *ngIf="prefrenceListToInclude && prefrenceListToInclude.length > 0"
        [label]="'Select Rule to include'"
        [rulesList]="prefrenceListToInclude"
        (selectedRules)=changePrefrence($event)
        [alredaySelectedRules]="selectedPrefrence"
        >
      </app-auto-complete>

    </div>

    <div class="col-1 min-width-225">

      <!-- <mat-form-field appearance="fill">
        <mat-label>Select Rule to exclude</mat-label>
        <mat-select [disableOptionCentering]="true" multiple (ngModelChange)="changePrefrenceToExclude($event)" [(ngModel)]="selectedPrefrenceToExclude">
          <input type="text" placeholder="Select rule" aria-label="Select Users" matInput>
      
          <mat-option *ngFor="let prefrence of prefrenceListToExclude" [value]="prefrence.name">
            {{prefrence.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <app-auto-complete *ngIf="prefrenceListToExclude && prefrenceListToExclude.length > 0"
        [label]="'Select Rule to exclude'"
        [rulesList]="prefrenceListToExclude"
        (selectedRules)=changePrefrenceToExclude($event)
        [alredaySelectedRules]="selectedPrefrenceToExclude"
        >
      </app-auto-complete>

    </div>

    <div class="col-1 min-width-225">

      <mat-form-field appearance="fill">
        <mat-label>Calender Type</mat-label>
        <mat-select [disableOptionCentering]="true" [(ngModel)]="calenderType">
          <mat-option value="periodic">Periodic</mat-option>
          <mat-option value="regular">Regular</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-1 min-width-225">

      <app-auto-complete *ngIf="dataSouceList && dataSouceList.length > 0"
        [label]="'Data Source'"
        [rulesList]="dataSouceList"
        (selectedRules)=changeDataSource($event)
        [alredaySelectedRules]="dataSource"
        >
      </app-auto-complete>

      <!-- <mat-form-field appearance="fill">
        <mat-label>Data Source</mat-label>
        <mat-select [disableOptionCentering]="true" [(ngModel)]="dataSource">
          <mat-option value="Data Source 1">Data Source 1</mat-option>
          <mat-option value="Data Source 2">Data Source 2</mat-option>
          <mat-option value="Data Source 3">Data Source 3</mat-option>
          <mat-option value="Data Source 4">Data Source 4</mat-option>
        </mat-select>
      </mat-form-field> -->

    </div>

    <div class="col-1 min-width-225">


      <mat-slide-toggle class="includeWeekend" name="includeWeekend" ngDefaultControl [formControl]="includeWeekends">Include Weekends</mat-slide-toggle>
    </div>

    <div class="col-6" >
      <div class="box">
        <span class="tube" *ngFor="let prefrence of selectedPrefrence"> {{prefrence}} <a href="javascript:void(0)" class="close" (click)="remove(prefrence)">&#10006;</a></span>
        <span *ngFor="let prefrence of selectedPrefrenceToExclude"><span class="tube-exclude" *ngIf="prefrence"> {{prefrence}} <a href="javascript:void(0)" class="close" (click)="removeExcluded(prefrence)">&#10006;</a></span></span>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="card-container">
        <ycd-example-section (sendYearChanged)="sendYearChanged($event)" [year]="selectedYear" [prefrenceExclude]="selectedPrefrenceListToExclude" [prefrence]="selectedPrefrenceList" (dateSelected)="dateSelected($event)" >
        </ycd-example-section>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 btn-container" *ngIf="!editSchedule">
      <button type="button" (click)="cancel()" class="btn btn-dark">Clear</button>
      <button type="button" data-bs-toggle="modal" data-bs-target="#confirmationPopup" class="btn btn-dark">Save</button>
      <button type="button" (click)="generate()" class="btn btn-dark generate">Generate</button>
    </div>

    <div class="col-12 btn-container" *ngIf="editSchedule">
      <button type="button" (click)="cancel()" class="btn btn-dark">Clear</button>
      <button type="button" *ngIf="!isDisabled && editSchedule" data-bs-toggle="modal" data-bs-target="#disbaleConfirmationModal"  class="btn btn-dark">Disable</button>
      <button type="button" *ngIf="isDisabled && editSchedule" data-bs-toggle="modal" data-bs-target="#enableConfirmationModal"  class="btn btn-dark">Enable</button>
      <button type="button" data-bs-toggle="modal" data-bs-target="#confirmationPopup" class="btn btn-dark">Update</button>
    </div>
  </div>



<!-- Modal -->
<div class="modal fade" id="confirmationPopup" #confirmationModal tabindex="-1" aria-labelledby="confirmationPopup" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title m-0" id="confirmationPopupTitle">Submit Calender</h2>
              <button type="button" #closeConfirmationModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <form [formGroup]="form">
          <div class="modal-body">

              <mat-form-field class="full-width" appearance="fill" *ngIf="!editSchedule">
                  <mat-label>Calender Name</mat-label>
                  <input matInput placeholder="" formControlName="name">
                  <mat-error *ngIf="form.get('name').hasError('required')">
                      Calender Name is required.
                  </mat-error>
                  <mat-error *ngIf="form.get('name').hasError('alreadyExist')">
                      Calender Name already exist.
                  </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="fill" *ngIf="editSchedule">
                <mat-label>Calender Name</mat-label>
                <input matInput placeholder="" formControlName="displayName">
                <mat-error *ngIf="form.get('displayName').hasError('required')">
                    Calender Name is required.
                </mat-error>
                <mat-error *ngIf="form.get('displayName').hasError('alreadyExist')">
                    Calender Name already exist.
                </mat-error>
            </mat-form-field>

              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput placeholder="" formControlName="description">
            </mat-form-field>

              

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" [disabled]="!form.valid" (click)="save()" class="btn btn-dark">Save Calender</button>
          </div>
          </form>
      </div>
  </div>
</div>

<!--Rule disable Modal -->
<div class="modal fade" id="disbaleConfirmationModal" #disbaleConfirmationModal tabindex="-1" aria-labelledby="disbaleConfirmationModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title m-0" id="disbaleConfirmationModalTitle">Disable Calendar</h2>
              <button type="button" #closeDisableModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">

              <span>Are you sure, you want to disable {{form.controls.displayName.value}}?</span>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" (click)="disableRuleConfirm()" class="btn btn-dark">Ok</button>
          </div>
      </div>
  </div>
</div>

<!--Rule enable Modal -->
<div class="modal fade" id="enableConfirmationModal" #enableConfirmationModal tabindex="-1" aria-labelledby="enableConfirmationModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title m-0" id="enableConfirmationModalTitle">Enable Calendar</h2>
              <button type="button" #closeEnableModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <div class="modal-body">

              <span>Are you sure, you want to enable {{form.controls.displayName.value}}?</span>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" (click)="enableRuleConfirm()" class="btn btn-dark">Ok</button>
          </div>
      </div>
  </div>
</div>