
  <div class="row m-y-20">
    <div class="col-1 min-width-225">

      <mat-form-field appearance="fill">
        <mat-label>Select Year</mat-label>
        <mat-select [disableOptionCentering]="true" (ngModelChange)="changeYear($event)" [(ngModel)]="selectedYear">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-1 min-width-225">

      <mat-form-field appearance="fill">
        <mat-label>Select Rule to include</mat-label>
        <mat-select [disableOptionCentering]="true" multiple (ngModelChange)="changePrefrence($event)" [(ngModel)]="selectedPrefrence">
          <mat-option *ngFor="let prefrence of prefrenceListToInclude" [value]="prefrence.name">
            {{prefrence.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-1 min-width-225">

      <mat-form-field appearance="fill">
        <mat-label>Select Rule to exclude</mat-label>
        <mat-select [disableOptionCentering]="true" multiple (ngModelChange)="changePrefrenceToExclude($event)" [(ngModel)]="selectedPrefrenceToExclude">
          <mat-option *ngFor="let prefrence of prefrenceListToExclude" [value]="prefrence.name">
            {{prefrence.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-1 min-width-225">

      <mat-form-field appearance="fill">
        <mat-label>Calender Type</mat-label>
        <mat-select [disableOptionCentering]="true">
          <mat-option>Periodic</mat-option>
          <mat-option>Regular</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-6" >
      <div class="box">
        <span class="tube" *ngFor="let prefrence of selectedPrefrence"> {{prefrence}} <a href="javascript:void(0)" class="close" (click)="remove(prefrence)">&#10006;</a></span>
        <span class="tube-exclude" *ngFor="let prefrence of selectedPrefrenceToExclude"> {{prefrence}} <a href="javascript:void(0)" class="close" (click)="removeExcluded(prefrence)">&#10006;</a></span>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="card-container">
        <ycd-example-section (sendYearChanged)="sendYearChanged($event)" [year]="selectedYear" [prefrenceExclude]="selectedPrefrenceListToExclude" [prefrence]="selectedPrefrenceList" (dateSelected)="dateSelected($event)" >
        </ycd-example-section>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 btn-container" *ngIf="!editSchedule">
      <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel</button>
      <button type="button" data-bs-toggle="modal" data-bs-target="#confirmationPopup" class="btn btn-dark">Save</button>
      <button type="button" (click)="generate()" class="btn btn-dark generate">Generate</button>
    </div>

    <div class="col-12 btn-container" *ngIf="editSchedule">
      <button type="button" (click)="cancel()" class="btn btn-secondary">Cancel</button>
      <button type="button" (click)="disable()" class="btn btn-dark">Disable</button>
      <button type="button" data-bs-toggle="modal" data-bs-target="#confirmationPopup" class="btn btn-dark">Update</button>
    </div>
  </div>



<!-- Modal -->
<div class="modal fade" id="confirmationPopup" #confirmationModal tabindex="-1" aria-labelledby="confirmationPopup" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title m-0" id="confirmationPopupTitle">Submit Calender</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          
          <form [formGroup]="form">
          <div class="modal-body">

              <mat-form-field class="full-width" appearance="fill">
                  <mat-label>Calender Name</mat-label>
                  <input matInput placeholder="" formControlName="name">
                  <mat-error *ngIf="form.get('name').hasError('required')">
                      Calender Name is required.
                  </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput placeholder="" formControlName="description">
                <mat-error *ngIf="form.get('description').hasError('required')">
                    Calender Name is required.
                </mat-error>
            </mat-form-field>

              

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" [disabled]="!form.valid" (click)="save()" class="btn btn-dark">Save Calender</button>
          </div>
          </form>
      </div>
  </div>
</div>