<div class="row" *ngIf="editSchedule">
  <div class="col-12 update-rule-title">
      <span class="label">Calender - </span><span class="value">{{form.controls.displayName.value}}</span>
  </div>
</div>
  <div class="row m-y-20">

    <div class="col-1 min-width-225">

      <mat-form-field appearance="fill">
        <mat-label>Select Calender</mat-label>
        <mat-select [disableOptionCentering]="true" (ngModelChange)="changeCalender($event); setUnsavedFlag()" [(ngModel)]="selectedCalender">
          <mat-option [value]="''">
            New calender
          </mat-option>
          <mat-option *ngFor="let item of calendarData" [value]="item.displayName">
            {{item.displayName}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-1 min-width-225">

      <mat-form-field appearance="fill">
        <mat-label>Select Year</mat-label>
        <mat-select [disableOptionCentering]="true" (ngModelChange)="changeYear($event); setUnsavedFlag()" [(ngModel)]="selectedYear">
          <mat-option *ngFor="let year of years" [value]="year">
            {{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-1 min-width-225">
      <app-multiple-selection
      *ngIf="prefrenceListToInclude && prefrenceListToInclude.length > 0"
      [label]="'Select Rule to include'"
      [rulesList]="prefrenceListToInclude"
      (selectedRules)="changePrefrence($event); setUnsavedFlag();"
      [alredaySelectedRules]="selectedPrefrence"
      ></app-multiple-selection>
</div>

    <div class="col-1 min-width-225">

      <app-multiple-selection *ngIf="prefrenceListToExclude && prefrenceListToExclude.length > 0"
        [label]="'Select Rule to exclude'"
        [rulesList]="prefrenceListToExclude"
        (selectedRules)="changePrefrenceToExclude($event); setUnsavedFlag();"
        [alredaySelectedRules]="selectedPrefrenceToExclude"
        >
      </app-multiple-selection>

    </div>
<!-- 
    <div class="col-1 min-width-225">

      <mat-form-field appearance="fill">
        <mat-label>Calendar Type</mat-label>
        <mat-select [disableOptionCentering]="true" [(ngModel)]="calenderType">
          <mat-option value="periodic">Periodic</mat-option>
          <mat-option value="regular">Regular</mat-option>
        </mat-select>
      </mat-form-field>

    </div> -->

    <div class="col-1 min-width-225">

      <app-multiple-selection *ngIf="dataSouceList && dataSouceList.length > 0"
        [label]="'Data Center'"
        [rulesList]="dataSouceList"
        (selectedRules)="changeDataSource($event); setUnsavedFlag()"
        [alredaySelectedRules]="dataSource"
        >
      </app-multiple-selection>
    </div>

    <!-- <div class="col-1 min-width-225">


      <mat-slide-toggle class="includeWeekend" (click)="setUnsavedFlag()" name="includeWeekend" ngDefaultControl [formControl]="includeWeekends">Include Weekends</mat-slide-toggle>
    </div> -->

    <div class="col-6" >
      <div class="box">
        <span class="tube" [ngClass]="!getActiveStatus(prefrence) ? 'bg-inactive': ''" *ngFor="let prefrence of selectedPrefrence"> {{prefrence}} <a href="javascript:void(0)" class="close" (click)="remove(prefrence)">&#10006;</a></span>
        <span *ngFor="let prefrence of selectedPrefrenceToExclude"><span class="tube-exclude" [ngClass]="!getActiveStatus(prefrence) ? 'bg-inactive': ''" *ngIf="prefrence"> {{prefrence}} <a href="javascript:void(0)" class="close" (click)="removeExcluded(prefrence)">&#10006;</a></span></span>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
      <div class="card-container">
        <ycd-example-section (sendYearChanged)="sendYearChanged($event); setUnsavedFlag();" [year]="selectedYear" [prefrenceExclude]="selectedPrefrenceListToExclude" [customDateSelection]="false" [prefrence]="selectedPrefrenceList" (dateSelected)="dateSelected($event)" >
        </ycd-example-section>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 btn-container" *ngIf="!editSchedule">
      <button type="button" (click)="cancel()" class="btn btn-dark">Clear</button>

      <button *ngIf="dataSource && dataSource.length > 0" type="button" data-bs-toggle="modal" data-bs-target="#confirmationPopup" [disabled]="!selectedPrefrence || (selectedPrefrence && selectedPrefrence.length === 0)" class="btn btn-dark">Save</button>

      <button *ngIf="dataSource && dataSource.length === 0" type="button" data-bs-toggle="modal" data-bs-target="#dataSouceConfirmationPopup" [disabled]="!selectedPrefrence || (selectedPrefrence && selectedPrefrence.length === 0)" class="btn btn-dark">Save</button>

      <button type="button" (click)="generate()" [disabled]="!selectedDateList || (selectedDateList && selectedDateList.length === 0)" class="btn btn-dark generate">Generate</button>
    </div>

    <div class="col-12 btn-container" *ngIf="editSchedule">
      <button type="button" (click)="cancel()" class="btn btn-dark">Clear</button>
      <button type="button" *ngIf="!isDisabled && editSchedule" data-bs-toggle="modal" data-bs-target="#disbaleConfirmationModal"  class="btn btn-dark">Deactivate</button>
      <button type="button" *ngIf="isDisabled && editSchedule" data-bs-toggle="modal" data-bs-target="#enableConfirmationModal"  class="btn btn-dark">Activate</button>
      <button type="button" *ngIf="dataSource && dataSource.length > 0" data-bs-toggle="modal" data-bs-target="#confirmationPopup" [disabled]="!selectedPrefrence || (selectedPrefrence && selectedPrefrence.length === 0)" class="btn btn-dark">Update</button>

      <button type="button" *ngIf="dataSource && dataSource.length === 0" data-bs-toggle="modal" data-bs-target="#dataSouceConfirmationPopup" [disabled]="!selectedPrefrence || (selectedPrefrence && selectedPrefrence.length === 0)" class="btn btn-dark">Update</button>
      <button type="button" (click)="generate()" [disabled]="!selectedDateList || (selectedDateList && selectedDateList.length === 0)" class="btn btn-dark generate">Generate</button>
    </div>
  </div>

<!-- Modal -->
<div class="modal fade" id="dataSouceConfirmationPopup" #confirmationModal tabindex="-1" aria-labelledby="dataSouceConfirmationPopup" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <!-- <div class="modal-header">
              <h2 class="modal-title m-0" id="dataSouceConfirmationPopupTitle">Submit Calender</h2>
              <button type="button" #closeConfirmationModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div> -->

          <div class="modal-body">
            Please select data center.
             
          </div>
          <div class="modal-footer">
              <button type="button" data-bs-dismiss="modal" class="btn btn-dark">OK</button>
          </div>
      </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationPopup" #confirmationModal tabindex="-1" aria-labelledby="confirmationPopup" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title m-0" id="confirmationPopupTitle">Submit Calender</h2>
              <button type="button" #closeConfirmationModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <form [formGroup]="form">
          <div class="modal-body">

              <mat-form-field class="full-width" appearance="fill" *ngIf="!editSchedule">
                  <mat-label>Calendar Name</mat-label>
                  <input matInput maxlength="20"  placeholder="" formControlName="name">
                  <mat-error *ngIf="form.get('name').hasError('required')">
                      Calender Name is required.
                  </mat-error>
                  <mat-error *ngIf="form.get('name').hasError('alreadyExist')">
                      Calender Name already exist.
                  </mat-error>
              </mat-form-field>

              <mat-form-field class="full-width" appearance="fill" *ngIf="editSchedule">
                <mat-label>Calender Name</mat-label>
                <input matInput maxlength="20"  placeholder="" formControlName="displayName">
                <mat-error *ngIf="form.get('displayName').hasError('required')">
                    Calender Name is required.
                </mat-error>
                <mat-error *ngIf="form.get('displayName').hasError('alreadyExist')">
                    Calender Name already exist.
                </mat-error>
            </mat-form-field>

              <mat-form-field class="full-width" appearance="fill">
                <mat-label>Description</mat-label>
                <input matInput maxlength="50" placeholder="" formControlName="description">
            </mat-form-field>



          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" [disabled]="!form.valid" (click)="save()" class="btn btn-dark">Save Calendar</button>
          </div>
          </form>
      </div>
  </div>
</div>

<!--Rule disable Modal -->
<div class="modal fade" id="disbaleConfirmationModal" #disbaleConfirmationModal tabindex="-1" aria-labelledby="disbaleConfirmationModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title m-0" id="disbaleConfirmationModalTitle">Disable Calendar</h2>
              <button type="button" #closeDisableModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">

              <span>Are you sure, you want to disable {{form.controls.displayName.value}}?</span>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" (click)="disableRuleConfirm()" class="btn btn-dark">Ok</button>
          </div>
      </div>
  </div>
</div>

<!--Rule enable Modal -->
<div class="modal fade" id="enableConfirmationModal" #enableConfirmationModal tabindex="-1" aria-labelledby="enableConfirmationModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title m-0" id="enableConfirmationModalTitle">Activate Calendar</h2>
              <button type="button" #closeEnableModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">

              <span>Are you sure, you want to activate {{form.controls.displayName.value}}?</span>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" (click)="enableRuleConfirm()" class="btn btn-dark">Ok</button>
          </div>
      </div>
  </div>
</div>


<!--Save Confirmation Modal -->
<div class="modal fade" id="saveConfirmationModal" #saveConfirmationModal tabindex="-1" aria-labelledby="saveConfirmationModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h2 class="modal-title m-0" id="saveConfirmationModalTitle">Confirmation</h2>
              <button type="button" #closeSaveModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">

              <span>Do you want to save your changes?</span>

          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
              <button type="button" (click)="enableRuleConfirm()" class="btn btn-dark">Ok</button>
          </div>
      </div>
  </div>
</div>
