<div class="row m-y-20">
  <div class="col-12">
    <div class="row min-h-50">
      <div class="col-12 px-3 pt-4 pb-3">
        <span class="title top-10">Calender List</span>
        <span class="float-right">
          <mat-form-field appearance="fill">
            <mat-label>Select Year</mat-label>
            <mat-select [disableOptionCentering]="true" (ngModelChange)="changeYear($event)" [(ngModel)]="selectedYear">
              <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <button type="button" (click)="generate()" [disabled]="this.selection.isEmpty() || !selectedYear"
            class="btn btn-dark ms-2">Generate</button>
        </span>

      </div>

      <div class="col-12">

        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
          </mat-form-field>
        </div>

        
        <table mat-table #matSortCalender="matSort" matSort
          [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>
              <div mat-sort-header>Name</div>
              <!-- <input placeholder="" [(ngModel)]="calenderEntity.displayName"> -->
            </th>
            <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <th mat-header-cell *matHeaderCellDef>
              <div mat-sort-header>Active</div>
              <!-- <input placeholder="" [(ngModel)]="calenderEntity.isActive"> -->
            </th>
            <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
          </ng-container>

          <ng-container matColumnDef="rulesIncluded">
            <th mat-header-cell *matHeaderCellDef>
              <div mat-sort-header>Rule Included </div>
              <!-- <input placeholder="" [(ngModel)]="calenderEntity.rulesIncluded"> -->
            </th>
            <td mat-cell *matCellDef="let element"> {{element.rulesIncluded}} </td>
          </ng-container>

          <ng-container matColumnDef="rulesExcluded">
            <th mat-header-cell *matHeaderCellDef>
              <div mat-sort-header>Rule Excluded </div>
              <!-- <input placeholder="" [(ngModel)]="calenderEntity.rulesExcluded"> -->

            </th>
            <td mat-cell *matCellDef="let element"> {{element.rulesExcluded}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>
              <div mat-sort-header>Description </div>
              <!-- <input placeholder="" [(ngModel)]="calenderEntity.description"> -->

            </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <ng-container matColumnDef="createdDateAndTime">
            <th mat-header-cell *matHeaderCellDef>
              <div mat-sort-header>Created DT TM</div>
              <!-- <input placeholder="" [(ngModel)]="calenderEntity.createdDateAndTime"> -->

            </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDateAndTime}} </td>
          </ng-container>

          <ng-container matColumnDef="createdUser">
            <th mat-header-cell *matHeaderCellDef>
              <div mat-sort-header>Created User </div>
              <!-- <input placeholder="" [(ngModel)]="calenderEntity.createdUser"> -->

            </th>
            <td mat-cell *matCellDef="let element"> {{element.createdUser}} </td>
          </ng-container>

          <ng-container matColumnDef="lastModifiedDateAndTime">
            <th mat-header-cell *matHeaderCellDef>
              <div mat-sort-header>Last modified DT TM</div>
              <!-- <input placeholder="" [(ngModel)]="calenderEntity.lastModifiedDateAndTime"> -->

            </th>
            <td mat-cell *matCellDef="let element"> {{element.lastModifiedDateAndTime}} </td>
          </ng-container>

          <ng-container matColumnDef="lastModifiedUser">
            <th mat-header-cell *matHeaderCellDef>
              <div mat-sort-header>Last modified user </div>
              <!-- <input placeholder="" [(ngModel)]="calenderEntity.lastModifiedUser"> -->

            </th>
            <td mat-cell *matCellDef="let element"> {{element.lastModifiedUser}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="pointer"
            [ngClass]="{'bg-lightgrey': isRowSelected(row)}" (click)="goToDashboard(row)"></tr>
        </table>

      </div>
    </div>

    <div class="row min-h-50">
      <div class="col-12 px-3 pt-4 pb-3">
        <span class="title">Rule List</span>
      </div>
      <div class="col-12">

        <div class="example-header">
          <mat-form-field>
            <input matInput (keyup)="applyRuleFilter($event.target.value)" placeholder="Search">
          </mat-form-field>
        </div>

        <table mat-table  #matSortCalender="matSort" matSort [dataSource]="ruleDataSource" class="mat-elevation-z8">

          <ng-container matColumnDef="holidayType">
            <th mat-header-cell  *matHeaderCellDef> 
              <div mat-sort-header>Rule Name </div>
              <!-- <input type="text" placeholder="" [(ngModel)]="rulesEntity.displayName"> -->
            </th>
            <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <th mat-header-cell  *matHeaderCellDef> 
              <div mat-sort-header>Active </div>
              <!-- <input type="text" placeholder="" [(ngModel)]="rulesEntity.isActive"> -->
            </th>
            <td mat-cell *matCellDef="let element"> {{element.isActive}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell  *matHeaderCellDef> 
              <div mat-sort-header>Description </div>
              <!-- <input type="text" placeholder="" [(ngModel)]="rulesEntity.description"> -->
            </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <ng-container matColumnDef="createdDateAndTime">
            <th mat-header-cell  *matHeaderCellDef> 
              <div mat-sort-header>Create date and time </div>
              <!-- <input type="text" placeholder="" [(ngModel)]="rulesEntity.createdDateAndTime"> -->
            </th>
            <td mat-cell *matCellDef="let element"> {{element.createdDateAndTime}} </td>
          </ng-container>

          <ng-container matColumnDef="createdUser">
            <th mat-header-cell  *matHeaderCellDef> 
              <div mat-sort-header>Created User </div>
              <!-- <input type="text" placeholder="" [(ngModel)]="rulesEntity.createdUser"> -->
            </th>
            <td mat-cell *matCellDef="let element"> {{element.createdUser}} </td>
          </ng-container>

          <ng-container matColumnDef="lastModifiedDateAndTime">
            <th mat-header-cell  *matHeaderCellDef> 
              <div mat-sort-header>Last modified date and time </div>
              <!-- <input type="text" placeholder="" [(ngModel)]="rulesEntity.lastModifiedDateAndTime"> -->
            </th>
            <td mat-cell *matCellDef="let element"> {{element.lastModifiedDateAndTime}} </td>
          </ng-container>

          <ng-container matColumnDef="lastModifiedUser">
            <th mat-header-cell  *matHeaderCellDef> 
              <div mat-sort-header>Last modified user </div>
              <!-- <input type="text" placeholder="" [(ngModel)]="rulesEntity.lastModifiedUser"> -->
            </th>
            <td mat-cell *matCellDef="let element"> {{element.lastModifiedUser}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedRuleColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedRuleColumns;" class="pointer"
            (click)="goToCreateRule(row)"></tr>
        </table>

      </div>
    </div>
  </div>
</div>