<div class="row m-y-20">
  <div class="col-12">
    <div class="row min-h-50">
      <div class="col-12 px-3 pt-4 pb-3">
        <span class="title top-10">Calendar List</span>
        <span class="float-right">
          <mat-form-field appearance="fill">
            <mat-label>Select Year</mat-label>
            <mat-select [disableOptionCentering]="true" (ngModelChange)="changeYear($event)" [(ngModel)]="selectedYear">
              <mat-option *ngFor="let year of years" [value]="year">
                {{year}}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <button type="button" (click)="generate()" [disabled]="this.selection.isEmpty() || !selectedYear"
            class="btn btn-dark ms-2">Generate</button>
        </span>

      </div>

      <div class="col-12" *ngIf="calendarData && (calendarData.length > 0)">

        <app-calendar-table [calendarData]="calendarData" (emitSelectionChange)=selectionChange($event)>
        </app-calendar-table>

      </div>
    </div>

    <div class="row min-h-50">
      <div class="col-12 px-3 pt-4 pb-3">
        <span class="title">Rule List</span>
      </div>
      <div class="col-12" *ngIf="ruleData && (ruleData.length > 0)">

        <app-rule-table [ruleData]="ruleData"></app-rule-table>
      </div>
    </div>
  </div>
</div>
