<div class="row" *ngIf="editRule">
    <div class="col-12 update-rule-title">
        <span class="label">Rule - </span><span class="value">{{form.controls.displayName.value}}</span>
    </div>
</div>
<div class="row m-y-20">
    <div class="col-1 min-width-225 ">

        <mat-form-field appearance="fill">
            <mat-label>Select Year</mat-label>
            <mat-select [disableOptionCentering]="true" (ngModelChange)="changeYear($event); setUnsavedFlag();" [(ngModel)]="selectedYear">
                <mat-option *ngFor="let year of years" [value]="year">
                    {{year}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>


    <div class="col-1 min-width-225 " >

            
        <mat-checkbox class="example-margin" (ngModelChange)="changeFlexibledate($event); setUnsavedFlag();" [(ngModel)]="flexibleDates">Fixed Date(s)</mat-checkbox>

    </div> 

    <div class="col-1 min-width-225 ">

        <mat-form-field appearance="fill">
            <mat-label>Select Month</mat-label>
            <mat-select [disableOptionCentering]="true" #monthSelect multiple [disabled]="flexibleDates" (ngModelChange)="setUnsavedFlag(); changeMonth($event)" [(ngModel)]="selectedMonth">
                <div class="select-all">
                    <mat-checkbox [(ngModel)]="allMonthSelected"
                                    [ngModelOptions]="{standalone: true}"
                                    (change)="toggleAllMonthSelection()">Select All</mat-checkbox>
                </div>
                <mat-option *ngFor="let month of monthList" [value]="month.value">
                    {{month.display}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>

    <div class="col-1 min-width-225 " >

        <mat-form-field appearance="fill">
            <mat-label>Select Week of Month</mat-label>
            <mat-select [disableOptionCentering]="true" #weekSelect multiple [disabled]="!(selectedMonth && selectedMonth.length > 0)  || flexibleDates" (ngModelChange)="changeWeek($event); setUnsavedFlag();" [(ngModel)]="selectedWeek">
                <div class="select-all">
                    <mat-checkbox [(ngModel)]="allWeekSelected"
                                    [ngModelOptions]="{standalone: true}"
                                    (change)="toggleAllWeekSelection()">Select All</mat-checkbox>
                </div>
                <mat-option *ngFor="let week of weekList" [value]="week">
                    <span *ngIf="week === -1">Last</span>
                    <span *ngIf="week !== -1">{{week}}</span>
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>


    <div class="col-1 min-width-225 ">

        <mat-form-field appearance="fill">
            <mat-label>Select Day of Week</mat-label>
            <mat-select [disableOptionCentering]="true" #daySelect multiple [disabled]="!(selectedMonth && selectedMonth.length > 0) || flexibleDates" (ngModelChange)="changeDay($event); setUnsavedFlag();" [(ngModel)]="selectedDay">
                <div class="select-all">
                    <mat-checkbox [(ngModel)]="allDaySelected"
                                    [ngModelOptions]="{standalone: true}"
                                    (change)="toggleAllDaySelection()">Select All</mat-checkbox>
                </div>
                <mat-option *ngFor="let day of dayList" [value]="day.value">
                    {{day.display}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
<!-- 
    [disabled]="((selectedMonth?.length > 1) || (selectedWeek?.length > 1) || (selectedDay?.length > 1)) || (flexibleDates && (!selectedDateList ||  (selectedDateList?.length === 0))) || (!flexibleDates  && ((!selectedMonth  ||selectedMonth?.length > 1) || (!selectedWeek || selectedWeek?.length > 1) || (!selectedDay || selectedDay?.length > 1))) || flexibleDates" -->

    <div class="col-2">
        <mat-radio-group class="day-radio-group" name="afterBeforeDay" [(ngModel)]="afterBeforeDaySelection" ngDefaultControl>
            <mat-radio-button #button class="day-radio-button"  *ngFor="let day of afterBeforeDay" [value]="day.value" (click)="setUnsavedFlag(); checkState(button)">
              {{day.display}}
            </mat-radio-button>
          </mat-radio-group>
    </div>

    <div class="col-2 p-t-10">
        <button type="button" (click)="reset(); setUnsavedFlag();" [disabled]="!(flexibleDates || ((selectedMonth && selectedMonth.length > 0) || (selectedWeek && selectedWeek.length > 0) || (selectedDay && selectedDay.length > 0)))"   class="btn btn-dark">Reset</button>
        <button type="button" (click)="apply(); setUnsavedFlag();" [disabled]="!(selectedMonth && selectedMonth.length > 0) || !(selectedWeek && selectedWeek.length > 0) || !(selectedDay && selectedDay.length > 0)" class="btn btn-dark ms-2">Preview</button>
    </div>


</div>

<div class="row m-y-20">

    <div class="col-1 min-width-225">

      <!-- <mat-form-field appearance="fill">
        <mat-label>Select Rule to include</mat-label>
        <mat-select [disableOptionCentering]="true" multiple (ngModelChange)="changePrefrence($event)" [(ngModel)]="selectedIncludedPrefrence">
            <mat-select-search></mat-select-search>
            <mat-option *ngFor="let prefrence of prefrenceListToInclude" [value]="prefrence.name">
            {{prefrence.name}}
          </mat-option>
        </mat-select>
      </mat-form-field> -->

      <app-auto-complete *ngIf="prefrenceListToInclude && prefrenceListToInclude.length > 0"
        [label]="'Select Rule to include'"
        [rulesList]="prefrenceListToInclude"
        (selectedRules)="changePrefrence($event); setUnsavedFlag();"
        [alredaySelectedRules]="selectedIncludedPrefrence"
        >
      </app-auto-complete>

    </div>

    
    <div class="col-10" >
      <div class="box">
        <span class="tube" *ngFor="let prefrence of selectedIncludedPrefrence"> {{prefrence}} <a href="javascript:void(0)" class="close" (click)="remove(prefrence)">&#10006;</a></span>
      </div>
    </div>
  </div>


<div class="row">
    <div class="col-12">
        <div class="card-container">
            <ycd-example-section (sendYearChanged)="sendYearChanged($event); setUnsavedFlag();" [year]="selectedYear"
                [prefrence]="selectedPrefrence" [customDateSelection]="flexibleDates" (dateSelected)="dateSelected($event)">
            </ycd-example-section>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 btn-container">
        
        <button type="button" (click)="cancel()" class="btn btn-dark">Clear</button>
        <button type="button" *ngIf="editRule && !isDisabled" (click)="getRuleStatus()" data-bs-toggle="modal" data-bs-target="#disbaleConfirmationModal" class="btn btn-dark">Deactivate Rule</button>
        <button type="button" *ngIf="editRule && isDisabled" data-bs-toggle="modal" data-bs-target="#enableConfirmationModal" class="btn btn-dark">Activate Rule</button>
        <button type="button" *ngIf="flexibleDates" [disabled]="!(selectedDateList && selectedDateList.length > 0)" data-bs-toggle="modal" data-bs-target="#confirmationModal"
            class="btn btn-dark"><span *ngIf="editRule">Update Rule</span><span *ngIf="!editRule">Save Rule</span></button>
        <button type="button" *ngIf="!flexibleDates" [disabled]="!(selectedMonth && selectedWeek && selectedDay)" data-bs-toggle="modal" data-bs-target="#confirmationModal"
                class="btn btn-dark"><span *ngIf="editRule">Update Rule</span><span *ngIf="!editRule">Save Rule</span></button>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="confirmationModal" #confirmationModal tabindex="-1" aria-labelledby="confirmationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title m-0" id="confirmationPopupTitle"><span *ngIf="editRule">Update Rule</span><span *ngIf="!editRule">Create Rule</span></h2>
                <button type="button" #closeConfirmationModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <form [formGroup]="form">
            <div class="modal-body">

                <mat-form-field class="full-width" appearance="fill" *ngIf="!editRule">
                    <mat-label>Rule Name</mat-label>
                    <input matInput placeholder="" formControlName="name">
                    <mat-error *ngIf="form.get('name').hasError('required')">
                        Rule Name is required.
                    </mat-error>
                    <mat-error *ngIf="form.get('name').hasError('alreadyExist')">
                        Rule Name already exist.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="fill" *ngIf="editRule">
                    <mat-label>Rule Name</mat-label>
                    <input matInput placeholder="" formControlName="displayName">
                    <mat-error *ngIf="form.get('displayName').hasError('required')">
                        Rule Name is required.
                    </mat-error>
                    <mat-error *ngIf="form.get('displayName').hasError('alreadyExist')">
                        Rule Name already exist.
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="fill">
                    <mat-label>Description</mat-label>
                    <input matInput placeholder="" formControlName="description">
                </mat-form-field>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" [disabled]="!form.valid" (click)="saveRule()" class="btn btn-dark">Submit Rule</button>
            </div>
            </form>
        </div>
    </div>
</div>

<!--Rule disable Modal -->
<div class="modal fade" id="disbaleConfirmationModal" #disbaleConfirmationModal tabindex="-1" aria-labelledby="disbaleConfirmationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title m-0" id="disbaleConfirmationModalTitle">Disable Rule</h2>
                <button type="button" #closeDisableModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">

                <span>Are you sure, you want to disable {{form.controls.displayName.value}}?<span *ngIf="isUsedByCalenders">, this rule is being used by one or more calendars</span></span>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" (click)="disableRuleConfirm()" class="btn btn-dark">Ok</button>
            </div>
        </div>
    </div>
</div>

<!--Rule enable Modal -->
<div class="modal fade" id="enableConfirmationModal" #enableConfirmationModal tabindex="-1" aria-labelledby="enableConfirmationModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title m-0" id="enableConfirmationModalTitle">Activate Rule</h2>
                <button type="button" #closeEnableModal class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">
  
                <span>Are you sure, you want to activate {{form.controls.displayName.value}}?</span>
  
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" (click)="enableRuleConfirm()" class="btn btn-dark">Ok</button>
            </div>
        </div>
    </div>
  </div>